{% extends "base.html" %}
{% block title %}Amith Mathew - Fiction{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block banner %}
  {{ super() }}
{% endblock banner %}
{% block mainbody %}
  <div class="row" id="front-row" >
    <div class="col-sm-6 col-sm-offset-3" id="article-list">
      {% for entry in content %}
        <div class="article-entry" >
          <h4>
            <a href="{{ entry.fullhtmlout }}" id="hide-link" >{{ entry.title }}</a>
          </h4>
          <p class="text-muted" >{{ entry.postdate }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock mainbody %}